<img src="/assets/img/burger.png" alt="Yummy Burger" width="240"/>

<h2>Eat-Da-Burger!</h2>

	<div class="row">
		<div class="col-5 burger-block">
			<ol class="menu">
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							{{this.burger_name}}
						</li>	
					{{/unless}}
				{{/each}}
			</ol>
		</div>	
		<div class="col-1 button-block">
			{{#each burgers}}
				{{#unless this.devoured}}
					<form id="devour_b" action="/{{this.id}}?_method=PUT" method="POST">
						<input type="hidden" name="devoured" value="true">
						<button type="submit">Devour it!</button>
					</form>				
				{{/unless}}
			{{/each}}
		</div>
		<div class="col-5 eaten-block">
			<ol class="eaten">
				{{#each burgers}}
					{{#if this.devoured}}
						<li>
							{{this.burger_name}}
						</li>
					{{/if}}
				{{/each}}
			</ol>
		</div>
	</div>	


<form class="create" action="/" method="POST">

	<div class="form-group">
		<textarea name="burger_name" rows="7" cols="60"></textarea>
	</div>
	<button id="new" type="submit">Submit</button>
	<p>Enter a burger you want to eat. Click the "submit" button.</p>	
</form>	

