html {
	box-sizing: border-box;
}

body {
	background-color: #FDF38C;
	text-align: center;
}

h2 {
	color: #F37B6D;
}

.row {
	width: 81%;
	display: inline-block;
	margin-left: 340px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
   
}

.new {
	background-color: white;
	margin: 0px 0px 20px 0px;
	height: 30px;
	padding-top: 10px;
}	


.eaten {
	background-color: white;
}


#devour_b {
	margin-top: 15px;
	margin-bottom: 21px;
	width: 75px;
	height: 25px;
}

.eaten-block {
	margin-left: 20px;
	background-color: white;
	color: grey;
	height: 155px;
	overflow: auto;

}

.create {
	margin-top: 10px;
}

#query {
	background-color: #FDF38C;
}